<header id="cabecalho">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="menu-lat" mode="side">
      
      <button type="button" class="menu-b" matButton (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      @if (currentUser?.role === "ADMIN") {
        <button>Sair</button>
      }
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" class="menu-b" matButton (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-drawer-container>
</header>
