<main>

  <div id="total-atend" class="card shadow">
    <div class="d-flex mt-5 justify-content-center title">
      <h1 class="white">Fisio</h1>
      <h1 class="black">Clin</h1>
    </div>
    <p class="mx-auto mt-3 h6 w-50 ">
      Sistema desenvolvido para auxiliar fisioterapeutas a uma consulta mais fácil, com um 
      histórico dos pacientes que passaram pela clínica e muita praticidade na hora de criar uma consulta!</p>
      <p class="mx-auto mt-3 h6 w-50" >
        Desenvolvido por Santiago. <a class="btn btn-primary" target="_blank" href="https://github.com/LuizGustavoSantiagoo/FisioClin">Saiba mais!</a>
      </p>
    </div>
  <router-outlet></router-outlet>
</main>