<main>

    <div class="card shadow">
        <div class="d-flex m-2 align-items-end">
            <div class="d-flex flex-column w-100">
                <label for="busca">Pesquisar paciente</label>
                <input type="text" id="busca" class="form-control" placeholder="Cpf ou Nome">
            </div>
            <button class="btn btn-primary d-flex align-items-center justify-content-center" id="search-b">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div>

        </div>
    </div>
</main>