*,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-header {
    margin: 16% 0 0 40%;
}

.login-wrapper .login .login-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(320 * (1rem / var(--cds-global-base)));
    margin-top: 25%;
}

.my-input input {
    border: 1px solid #d3d3d3;
    padding: 3%;
    border-radius: 10px;
}

.my-input input:hover,
.my-input input:focus {
    border: 1px solid #000000;
    color: #d3d3d3;
}

.my-button:hover {
    background-color: #000000;
    color: #d3d3d3;
}

.login-wrapper .login .login-group .btn {
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    max-width: 70%;
}

label {
    margin: 0 0 2% 2%;
}

.pass {
    display: flex;
    align-items: center;
}

.pass .my-input {
    width: 100vh;
}

clr-icon { 
    height: 35%;
    width: 35%;
    cursor: pointer;
}

clr-icon:hover { 
    color: dodgerblue;
}