<main>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    Buscar Paciente
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="d-flex m-2 align-items-end">
                    <div class="d-flex flex-column w-100">
                        <label for="busca">Pesquisar paciente</label>
                        <input type="text" id="busca" class="form-control" placeholder="Cpf ou Nome">
                    </div>
                    <button class="btn btn-primary d-flex align-items-center justify-content-center" id="search-b"><mat-icon>search</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Cadastrar Paciente
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
                        <div class=" d-flex flex-column m-3">
                            <label for="nome">Nome do paciente</label>
                            <input class="form-control" type="text" id="nome" formControlName="name" placeholder="Nome do paciente">
                            <div *ngIf="pacienteForm.get('nome')?.invalid && pacienteForm.get('nome')?.touched" class="text-danger mt-1">
                                Nome é obrigatório.
                            </div>
                        </div>
                        <div class=" d-flex flex-column m-3">
                            <label for="cpf">Cpf</label>
                            <input class="form-control" type="number" id="cpf" formControlName="cpf" placeholder="CPF">
                            <div *ngIf="pacienteForm.get('cpf')?.invalid && pacienteForm.get('cpf')?.touched" class="text-danger mt-1">
                                CPF é obrigatório e deve ter 11 dígitos.
                            </div>
                        </div>
                        <div class=" d-flex flex-column m-3">
                            <label for="data_nascimento">Data de nascimento</label>
                            <input class="form-control" type="date" id="data_nascimento" formControlName="data_nasc">
                            <div *ngIf="pacienteForm.get('data_nascimento')?.invalid && pacienteForm.get('data_nascimento')?.touched" class="text-danger mt-1">
                                Data de nascimento é obrigatória.
                            </div>
                        </div>
                        <div class=" d-flex flex-column m-3">
                            <label for="numero_telefone">Numero de telefone</label>
                            <input class="form-control" type="number" id="numero_telefone" formControlName="contato" placeholder="Numero para contato">
                            <div *ngIf="pacienteForm.get('numero_telefone')?.invalid && pacienteForm.get('numero_telefone')?.touched" class="text-danger mt-1">
                                Número de telefone é obrigatório.
                            </div>
                        </div>
                        
                        <div *ngIf="errorMessage" class="alert alert-danger m-3">{{ errorMessage }}</div>
                        <div *ngIf="successMessage" class="alert alert-success m-3">{{ successMessage }}</div>

                        <div class="d-flex align-items-center justify-content-end m-3">
                            <button type="submit" class="btn btn-success" [disabled]="pacienteForm.invalid">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>