<main class="main">
    <div class="header">
        <h1 class="fisio">Fisio</h1>
        <h1 class="clin">Clin</h1>
    </div>
    <div class="content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CPF</label>
                <input type="number" class="form-control" formControlName="cpf" id="exampleInputEmail1"
                    placeholder="Inserir CPF">
                <div *ngIf="loginForm.get('')?.invalid && loginForm.get('')?.touched" class="text-danger">O CPF é
                    Obrigatorio</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <div class="d-flex flex-row align-items-center">
                    <input [type]="passwordType" class="form-control" formControlName="senha" id="password"
                        placeholder="Inserir Senha">

                    <button type="button" id="hide" class="eyes" (click)="togglePasswordVisibility()">
                        <mat-icon>{{ passwordType === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </div>
                <div *ngIf="loginForm.get('')?.invalid && loginForm.get('')?.touched" class="text-danger">A Senha é
                    Obrigatoria</div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-secondary">Entrar</button>
            </div>
        </form>
    </div>
</main>